
#header, #footer {
  position: absolute;
  background: var(--dark-red-bg);
  color: white;
  width: 100vw;
  padding: 10px;
}

#header {
  top: 0;
  height: 50px;
}

#footer {
  bottom: 0;
  background-color: grey;
  height: 30px;
}