/* GENERIC ITEMS */
h4 {
  background: var(--dark-red-bg);
  color: white;
  padding: 3px;
  min-width: 80px;
  overflow: hidden;
}

/* tables */
table {
  border: 2px solid black;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 3px;
}
tr {
  background-color: var(--light-red-bg-1);
}
tr:nth-of-type(odd) {
  background-color: var(--light-red-bg-2);
}
th {
  background-color: var(--table-header-background);
  color: var(--table-header-text);
}