/* DROPDOWN CELL */
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content p {
  color: black;
  padding: 12px;
  text-decoration: none;
  display: block;
}
.dropdown-content p:hover {
  background-color: #ddd;
}
.dropdown:hover .dropdown-content {
  display: block;
}
