@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-red-bg: #971919;
  --light-red-bg-1: #fcd8d8;
  --light-red-bg-2: #ffb9b9;
  --skill-option-bg-1: #fd0e0e;
  --skill-option-bg-2: #ff1a96;
  --table-header-background: #e3e3e3;
  --table-header-text: #000;
  --body-bg-color: #fff;
}

body {
  @apply bg-neutral-200 font-montserrat;
}

.box
{
@apply bg-white px-6 py-4 shadow rounded;
}

* {
  padding: 0;
  margin: 0;
  text-align: center;
  box-sizing: border-box;
}
