@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* GENERIC ITEMS */
  h4 {
    @apply bg-main-dark-bg;
    @apply text-white;
    @apply p-0.5;
  }
  /* TABLES */
  table {
    @apply border-2;
    @apply border-black;
    @apply border-collapse;
    @apply w-full;
    @apply mb-1;
  }
  tr {
    @apply bg-light-red-1;
  }
  tr:nth-of-type(odd) {
    @apply bg-light-red-2;
  }
  .option-tr,
  #overwrite-nth-of-type-bg-color {
    @apply bg-skill-option-bg-1;
  }
  .option-tr:nth-of-type(odd) {
    @apply bg-skill-option-bg-2;
  }
  th {
    @apply text-table-header-text;
    @apply bg-table-header-bg;
  }
}

:root {
  /* backgrounds */
  --dark-red-bg: #971919;
  --gradient-dark-bg: #530b0b;
  --gradient-light-bg: #ff0000;
  --light-red-bg-1: #fcd8d8;
  --light-red-bg-2: #ffb9b9;
  --body-bg-color: #fff;
  /* text colours */
  /* fonts */
}

body {
  @apply bg-neutral-200 font-montserrat;
}

.box {
  @apply bg-white px-6 py-4 shadow rounded;
}

.health-button {
  @apply rounded-md border-2 px-2 py-1 text-xs;
}

.button {
  @apply bg-gradient-to-br from-gradient-dark-bg to-gradient-light-bg text-main-light-text px-4 py-2 rounded-md;
}

* {
  padding: 0;
  margin: 0;
  text-align: center;
  box-sizing: border-box;
}
