#navbar {
  background-color: var(--body-bg-color);
  display: flex;
  justify-content: space-around;
  padding: 4px;
}
#navbar a {
  background: linear-gradient(135deg, var(--gradient-dark-bg), var(--gradient-light-bg));
  padding: 4px;
  color: white;
  font-weight: 400;
  border-radius: 5px;
}
