#stats {
    flex-wrap: wrap;
    align-items: flex-start;
}

#statDescriptions, #statTable {
    width: 50%;
    padding: 2px;
}

@media only screen and (max-width: 768px) {
    #statDescriptions, #statTable {
        width: 100%;
    }
    
}