
/* HIDEABLE DESCRIPTION CELL */
.hideableDescriptionCell {
  width: 100%;
}

.hideableDescriptionCell button {
  float: right;
  font-weight: bolder;
}

.hideableDescriptionCell p {
  white-space: pre-wrap;
}

/* SIMPLE MODAL */
.modal {
  z-index: 2;
  display: flex;
  position: fixed;
  left: 20px;
  background: white;
  width: 400px;
  max-width: 100vw;
  height: 200px;
  max-height: 90vh;
  top: 50%;
  margin-top: -50px;
  left: 50%;
  margin-left: -200px;
  border: 2px solid black;
  border-radius: 5px;
}
.modalBG {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background: rgb(255, 255, 255);
  opacity: 50%;
  width: 100vw;
  height: 100vh;
}