/* SIMPLE MODAL */
.modal {
  background: white;
  border: 2px solid black;
  max-height: 80vh;
  overflow-y: scroll;
}
.modalContainer {
  z-index: 2;
  position: fixed;
  left: 20px;
  width: 400px;
  max-width: 100vw;
  max-height: 100%;
  top: 20px;
  left: 50%;
  margin-left: -200px;
  background-color: var(--dark-red-bg);
}
.modal,
.modalContainer {
  border-radius: 5px;
  padding: 10px;
}
